<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MP4SubtitleMerger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MP4SubtitleMerger.Properties.Settings>
            <setting name="FFMPEGPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TopRowLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonRowLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="InputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="InjectToVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateSeparateFilesChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetCombinedSubtitleAsDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearFormating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestoreBoundsTopLeft" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RestoreBoundsSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceLastTopLanguageTrackExceptFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopRowFontSize" serializeAs="String">
                <value />
            </setting>
            <setting name="BottomRowFontSize" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceTrackLanguage" serializeAs="String">
                <value />
            </setting>
        </MP4SubtitleMerger.Properties.Settings>
    </userSettings>
</configuration>